# -------------------------
# Python Cache
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
.venv/
env/
ENV/

# -------------------------
# Git
# -------------------------
.git/
.gitignore

# -------------------------
# IDE Files
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python Build Files
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Pytest / Coverage
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Environment Files
# -------------------------
.env
.env.*

# -------------------------
# MLflow Local Runs
# -------------------------
mlruns/

# -------------------------
# Temporary Artifacts
# -------------------------
artifact/

# -------------------------
# Prediction Output
# -------------------------
prediction_output/

# -------------------------
# Temporary Numpy Files
# -------------------------
*.npy

# -------------------------
# Documentation
# -------------------------
README.md
LICENSE